*{
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
}
body{
     background-color:white;
    justify-content: center;
    transition: all 0.5s;
}
body.dark{
    background:rgb(44, 44, 44);
    color:white;
}
.container{
    width:103%;
    justify-content: center;
    background-color: rgb(8, 172, 21);
    height: 50px;
}
.container nav{
    display: flex;
    justify-content:center;
}
.container a{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 14px 14px 14px;
    color:rgb(15, 1, 1);
    text-decoration: none;
    font-size: 19px;
}
.container a:hover{
    text-decoration: underline;
    color:black;
    background-color: rgb(188, 252, 125);
}

.theme-switch-wrapper{
    position:absolute;
    top:28px;
    left:90%;
    transform: translate(-50%,-50%);
    text-align: center;
    }
    h5{
        margin-bottom:7px;
        font-family: sans-serif;
    }
    .theme-switch{
        position:relative;
        display: inline-block;
        width: 50px;
        bottom:4px;
        height: 20px;
        margin:0 10px;
        }
        .slider{
            position:absolute;
            cursor: pointer;
            top:0;
            left: 0;
            right: 0;
            bottom:0;
            background-color:black;
            transition:.4s;
            border-radius: 30px;
        }
        #checkbox{display: none}
        .slider:before{
            position :absolute;
            content:"";
            height:15px;
            width:15px;
            left:3px;
            bottom:3px;
            background-color:white;
            transition: 0.4s;
            border-radius: 30px;
        }
        input:checked +.slider{
            background-color:black;
        }
        input:checked +.slider:before{
            transform:translateX(28px);
        }
        .first-container{
            margin-top: 18px;
            margin-left: 10px;
            width: 100%;
        }
        .first-container h1{
            margin-left: 8%;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 35px;
            text-decoration: underline;
            word-spacing: 8px;

        }
        .first-container-1{
            padding: 10px 10px 10px 10px;
            padding-left: 20px;
            width: 50%;
            text-align: justify;
            justify-content: left;
        }
        .first-container img{
            width:40%;
            float:right;
            margin-right: 60px;
            margin-top: 60px;
            height: 400px;
            border:rgb(96, 245, 66) solid 2px;
        }
        hr{
            border-width: 2px;
            width:103% ;
            color: red;
        }
        .second-container{
            margin-left:20px;
            margin-top: 18px;
            width: 100%;
        }
        .second-container h2{
            text-transform: uppercase;
            margin-left:20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 25px;
            text-decoration: underline;
            word-spacing: 8px;

        }
        .second-container-1{
            margin-right: 30px;
            padding: 20px 10px 10px 10px;
            float: right;
            padding-right: 20px;
            width: 50%;
            text-align: justify;
            justify-content: left;
        }
        .second-container iframe{
            width:40%;
            float:left;
            margin-right: 50px;
            margin-top: 5%;
            margin-left:10px;
            height: 400px;
            border:rgb(96, 245, 66) solid 2px;
        }
        .first-container h2{
            text-transform: uppercase;
            margin-left:20px;
            margin-top: 30px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 25px;
            text-decoration: underline;
            word-spacing: 8px;
        }
        footer{
            position: relative;
            width:100%;
            background-color: rgb(8, 172, 21);;
          }
          .subscribe-text{
            font-size: 25px;
           margin-left:30%;
            color: #fdf1f1;
          }
          
          #ip{
            padding-left: 20px;
            height:45px;
            width:350px;
            margin-left:28%;
            border-color:rgb(253, 35, 7);
            position:relative;
            font-size: 15px;
            font-family: Georgia, 'Times New Roman', Times, serif;
          }
          #btn{
            height:46px;
            width:150px;
            position:relative;
            background-color:rgb(241, 214, 243);
            cursor: pointer;
          }
          
          #btn:hover{
            background-color: rgb(188, 252, 79);
          }
         
         

        /* information.html */
        .body{
            background-color: rgba(228, 226, 226, 0.815);
        }
        #heading1{
            color: rgb(15, 1, 1);
            margin-top: 20px;
            margin-left:20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 30px;
            text-decoration: underline;
            word-spacing: 8px;
        }
        #img1{
            width:40%;
            float:right;
            margin-right: 30px;
            margin-top: 50px;
            height: 400px;
            border:rgb(3, 3, 3) solid 2px;
        }
        .con1{
            background-color: white;
            padding: 10px 10px 15px 10px;
            margin-left: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            padding-left: 20px;
            width: 50%;
            text-align: justify;
            justify-content: left;
            border-radius: 18px;
            box-shadow:10px 5px rgb(245, 227, 195);
        }
        h3{
            margin-left: 20px;
            margin-top: 16px;
            margin-bottom: 10px;
            font-size: 20px;
            color: indianred;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            word-spacing: 8px;
            text-decoration: underline;

        }
        #img2{
            width:40%;
            float:right;
            margin-right: 30px;
            margin-top: 30px;
            height: 400px;
            border:rgb(8, 8, 8) solid 2px;
            margin-bottom: 30px;
        }
        .con2{
            background-color: white;
            padding: 10px 10px 15px 10px;
            margin-left: 20px;
            margin-top: 60px;
            margin-bottom: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            padding-left: 20px;
            width: 50%;
            text-align: justify;
            justify-content: left;
            border-radius: 18px;
            box-shadow:10px 10px rgb(245, 227, 195);
        }
    
        #img3{
            width:40%;
            float:right;
            margin-right: 30px;
            margin-top: 30px;
            height: 400px;
            border:rgb(10, 10, 10)solid 2px;
            margin-bottom: 30px;
        }
        .con3{
            background-color: white;
            padding: 10px 10px 15px 10px;
            margin-left: 20px;
            margin-top: 90px;
            margin-bottom: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            padding-left: 20px;
            width: 50%;
            text-align: justify;
            justify-content: left;
            border-radius: 18px;
            box-shadow:10px 10px rgb(245, 227, 195);
        }
        #img4{
            width:40%;
            float:right;
            margin-right: 30px;
            margin-top: 30px;
            height: 400px;
            border:rgb(17, 17, 17) solid 2px;
            margin-bottom: 30px;
        }
        .con4{
            background-color: white;
            padding: 10px 10px 15px 10px;
            margin-left: 20px;
            margin-top: 110px;
            margin-bottom: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            padding-left: 20px;
            width: 50%;
            text-align: justify;
            justify-content: left;
            border-radius: 18px;
            box-shadow:10px 10px rgb(245, 227, 195);
        }
        #foot{
            background-color:rgb(8, 172, 21);
        }
        #foot a{
            margin-left: 40%;
            font-family: Georgia, 'Times New Roman', Times, serif;
            word-spacing: 8px;
        color:black ;
        text-decoration: none;
        }
        #foot a:hover{
            color:cornsilk ;
            text-decoration: underline;
        }
        
        
        

